# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2018-2019 Texas Instruments Incorporated - http://www.ti.com/
#	Lokesh Vutla <lokeshvutla@ti.com>
#
# Copyright (C) 2023 TechNexion Ltd. - https://www.technexion.com/

choice
	prompt "TechNexion ROVY-4VM"
	optional

config TARGET_ROVY_4VM_A72
	bool "TechNexion ROVY-4VM running on A72"
	select ARM64
	select BOARD_LATE_INIT
	select SYS_DISABLE_DCACHE_OPS
	select BINMAN

config TARGET_ROVY_4VM_R5
	bool "TechNexion ROVY-4VM running on R5"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select K3_LOAD_SYSFW
	select RAM
	select SPL_RAM
	select K3_DDRSS
	select BINMAN
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_ROVY_4VM_A72

config SYS_BOARD
       default "rovy-4vm"

config SYS_VENDOR
       default "technexion"

config SYS_CONFIG_NAME
       default "rovy-4vm"

config ENV_SOURCE_FILE
       default "j721e"

source "board/ti/common/Kconfig"

endif

if TARGET_ROVY_4VM_R5

config SYS_BOARD
       default "rovy-4vm"

config SYS_VENDOR
       default "technexion"

config SYS_CONFIG_NAME
       default "rovy-4vm"

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "board/ti/common/Kconfig"

endif
